{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block body %}
<h1>Liste des auteurs</h1>

{% if authors is defined and authors is not empty %}

    <p>Nombre total d'auteurs : {{ totalAuthors }}</p>
    <p>Nombre total de livres : {{ totalBooks }}</p>

    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Photo</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Nombre de livres</th>
            <th>Action</th>
        </tr>

        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td><img src="{{ asset(author.picture) }}" alt="{{ author.username }}" width="100"></td>
                <td>{{ author.username|upper }}</td>
                <td>{{ author.email }}</td>
                <td>{{ author.nb_books }}</td>
                <td><a href="{{ path('author_details', {'id': author.id}) }}">Details</a></td>
            </tr>
        {% endfor %}
    </table>

{% else %}
    <p>Aucun auteur disponible.</p>
{% endif %}

{% endblock %}


